@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #100e17;
  font-family: "Poppins", sans-serif;
  background: url(https://images.unsplash.com/photo-1456305951335-bb8134aeab8a);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
